{% extends "partials/base.html" %} 
{% load static %}
{% block navbar %}
{% load socialaccount %}
{% providers_media_js %}
    {% include 'partials/navbar.html' %}
{% endblock navbar %}
{% block main %}
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <form class="login box" method="POST" action="/accounts/login/">
                {% csrf_token %}
                <h1>Login</h1>
                <p> Please enter your login and password!</p>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-error">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <input type="text" name="login" placeholder="Username" autocomplete="username" maxlength="150" required="" id="id_login"></p>
                <input type="password" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password"></p>
                <p><label for="id_remember">Remember Me:</label> 
                <input type="checkbox" name="remember" id="id_remember"></p>
                <a class="button secondaryAction" href="/accounts/password/reset/">Forgot Password?</a>
                <input type="submit" value="Sign In">
                <div class="col-md-12">
                    <ul class="social-network social-circle">
                        <li><a href="{% provider_login_url 'facebook' method="oauth2" %}" class="icoFacebook" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="{% provider_login_url 'github' method="js_sdk" %}" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
              </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
{% endblock main %}


{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock footer %}
    
