{% load static %}
<nav class="navbar navbar-expand-lg p-3 nnavbar-light bg-light" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">TPF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'febrics' %}">Search Febrics</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">How it works</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
            </li>
            {% endif %}
        </ul>
        <a class="btn my-2 my-sm-0 border border-black" id="btn" type="submit" href="{% url 'submit-list' %}">Submit Listing</a>
        </div>
    </div>
</nav>