{% extends "partials/base.html" %} 
{% load static %}
{% block navbar %}
    {% include 'partials/navbar.html' %}
{% endblock navbar %}
{% block main %}
<div id="body">
    <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2">
    
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 mt-5 mb-5">
                <h2 class="text-center">You have been Log Out!</h2>
                <div class="mt-5 mb-5">
                    <small class="text-muted">
                        <a class="btn btn-outline-primary" href="{% url 'login' %}">Login Again</a>
                    </small>
                </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-2">
            
          </div>
        </div>
    </div>
</div>
{% endblock main %}


{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock footer %}
    
