#body{
  padding:none;
  margin: none;
  background-color: #f1faee;
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, span, option{
  font-family: 'Poppins', sans-serif;
}


.list-febric  ul li a{
    text-decoration: underline;
    color: #000;
  }
  .list-febric  ul li{
      padding:5px;
  }
  .list-febric{
        display: flex;
        justify-content: center;
  }
/* navbar styles */

#navbar{
  background: linear-gradient(to right, #0096c7 1%,#0077b6 47%)!important;
  color:#ffffff;
}
#navbar ul li a{
  color: #fff;
  font-size:large;
}
#navbar .navbar-brand{
  color:#fff;
  font-size:30px;
}
#navbar #btn{
  color:#fff;
}
#navbar .container .navbar-toggler-icon{
  color:#fff;
}

/* login and register styles */

.card {
  margin-bottom: 20px;
  border: none
}
.box {
  width: 100%;
  padding: 40px;
  background: linear-gradient(to right, #0096c7 1%,#0077b6 47%)!important;
  text-align: center;
  transition: 0.25s;
  margin-top: 100px;
  margin-bottom:50px;
  justify-content: center;
}
.box p{
  color:#ffffff;
}
.box .forgot{
  color:#ffffff;
}
.box input[type="email"],
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ffffff;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500
}

.box input[type="email"]:focus,
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: #ffffff
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ffffff;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}
::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
.box input[type="submit"]:hover {
  background: #0096c7
}

.forgot {
  text-decoration: underline
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0
}

ul.social-network li {
  display: inline;
  margin: 0 5px
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff
}

.social-network a.icoGoogle:hover {
  background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
  color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
  transform: rotate(360deg);
  transition: all 0.2s
}

.social-circle i {
  color: #fff;
  transition: all 0.8s;
  transition: all 0.8s
}


/* footer css */
.footer-basic {
  padding:10px 0;
  background: linear-gradient(to right, #0096c7 1%,#0077b6 47%)!important;
  color:#ffffff;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}
.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#fff;
}
